extends ../shared/template

block content

  nav.navbar.navbar-default#project-navbar(role='navigation')
    .container-fluid#project-navbar-container
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') Muse[collective]
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='/dashboard') Home
          li
            a(href='/logout') Logout
        ul.nav.navbar-nav.navbar-right
          li#create-project-li
            a#create-project-link(href='#') Create Project&nbsp&nbsp
              i.fa.fa-plus
          li
            if(user.image)
              img#navbar-image(src=user.image.filePath)
            else
              img#navbar-image(src='/img/profile_placeholder.png')
          li
            a#edit-profile(href='/profile') Profile&nbsp
              i.fa.fa-pencil-square-o


  .container.dashboard-container
    .col-sm-12.create-project.page-header
      .well
        h2#create-project-heading Create Project
        .form-group
          .well
            form#create-project(action='/projects/create', method='POST')
              h4 Project Title
              input#project-title-input.form-control(type='text', name='title', placeholder='Untitled')
              #select-type
                h4 Project Type
                select.form-control(name='type') Select Type
                  option Song
                  option Poem
                  option Short Story
                  option Other
              h4.hidden Do you want outside opinion?
              select.hidden.form-control(name='privacy') Select One
                option(value='private') Private
                option(value='public') Public
              #starting-point
                h4 Where would you like to begin?
                select.form-control(name='status') Select One
                  option(value='brainstorming') Start Brainstorming (creativity board)
                  option(value='drafting') Start Drafting
              button#submit-create-project.save-button Create

    .col-sm-6.current-projects
      .well
        h2#current-projects-heading Current Projects
        if(projects)
          //- a#view-all-projects.link(href='/projects') View All
          each project in projects
            .current-project
              .well
                h3= project.title
                span= project.dateCreated
                p=project.type
                a.link(href='/projects/#{project._id.toString()}')
                  i.fa.fa-pencil-square-o edit

        else
          p No projects yet. Start Creating...
    //may want to make this a menu dropdown
    .col-sm-6.collaborators
      .well
        h2 Collaborations
        if(collaborations)
          each collaboration in collaborations
            .collaboration-project
              .well
                h3= collaboration.title
                span= collaboration.dateCreated
                a.link(href='/projects/#{collaboration._id.toString()}')
                  i.fa.fa-pencil-square-o edit
                p= collaboration.type
        else
          p You do not have any collaborations at this time...

block scripts
  script(src='/js/es6/compiled/dashboard.js')
