extends ../shared/template

block content
  nav.navbar.navbar-default#project-navbar(role='navigation')
    .container-fluid#project-navbar-container
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') Muse[collective]
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='/dashboard') Home
          li
            a(href='/logout') Logout
        ul.nav.navbar-nav.navbar-right
          li
            if(user.image)
              img#navbar-image(src=user.image.filePath)
            else
              img#navbar-image(src='/img/profile_placeholder.png')
          li
            a#edit-profile(href='/profile') Profile&nbsp
              i.fa.fa-pencil-square-o

  .container#image-password-container
    .row
      .col-sm-1
      .col-sm-5
        .well
          h3 Upload Profile Picture
          form(action='/users/updatePhoto', method='POST', enctype='multipart/form-data')
            input.form-control(type='file', name='photo')
            br
            button.action-button Submit
      .col-sm-4
        .well
          h3 Change Password
          a(href='/users/password')
            button.action-button Click Here
      .col-sm-2

  .container#profile-container
    .row
      // LOCAL INFORMATION
      .col-sm-4
        .well
          h3
            span.fa.fa-user
            | Local
          if(user.local.email)
            p
              strong Email
              | : #{user.local.email}
            p
              strong Password
              | : &#9679 &#9679 &#9679 &#9679 &nbsp
              a.btn.btn-default.btn-sm(href='/users/password') Change Password
            p
              a.btn.btn-default(href='/unlink/local') Unlink
          else
            a.btn.btn-default(href='/connect/local') Connect Local
      //FACEBOOK INFORMATION
      .col-sm-4#facebook-account
        .well
          h3.text-info#facebook-account-logo
            span.fa.fa-facebook
            | &nbsp Facebook
          if(user.facebook.token)
            p
              strong ID
              | : #{user.facebook.id}
            p
              strong Name
              | : #{user.facebook.displayName}
            p
              strong Email
              | : #{user.facebook.email}
            p
              a.btn.action-button#facebook-account-button(href='/unlink/facebook') Unlink
          else
            a.btn.action-button#facebook-account-button(href='/connect/facebook') Connect Facebook
      //TWITTER INFORMATION
      .col-sm-4
        .well
          h3.text-info
            span.fa.fa-twitter
            | &nbsp Twitter
          if(user.twitter.token)
            p
              strong ID
              | : #{user.twitter.id}
            p
              strong Name
              | : #{user.twitter.displayName}
            p
              strong Email
              | : #{user.twitter.username}
            p
              a.btn.btn-info(href='/unlink/twitter') Unlink
          else
            a.btn.btn-info(href='/connect/twitter') Connect Twitter
