extends ../shared/template

block content
  #draft-background
    h1#draft-title(data-id=project._id.toString())= project.title
    input#draft-title-edit.form-control.hidden(autofocus=true, value=project.title)

    .draft-toolbar
      button.action-button#save-draft Save
      form.exit-draft-form(action='/projects/#{project._id}/addDraftTextRecord', method='POST')
        button.action-button#exit-draft Exit
      button.action-button#toggle-tools Writing Tools
    .col-sm-12#draft-tools
      form(action='javascript:RhymeBrainSubmit()')
        input#RhymeBrainInput(type='text', placeholder='franchise, bank, brain...')
        input(type='submit', value='Rhyme')#rhyme-button
        button#clear-rhymes Clear
      script(type='text/javascript')
        var RhymeBrainMaxResults = 50;
      script(type='text/javascript', src='/js/vendor/rhymebrain.js')
      input#dictionary-input(type='text', name='word', placeholder='Dictionary/Thesaurus')
      button#dictionary-button Dictionary
      button#clear-dictionary Clear
      #dictionary-results

    .outer-draft-container
      .draft-container
        textarea#draft-content= project.draftText

block scripts
  script(src='/js/es6/compiled/draft.js')
