extends ../shared/template

block content

  nav.navbar.navbar-default#project-navbar(role='navigation')
    .container-fluid#project-navbar-container
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        span.navbar-brand Muse[collective]
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='/dashboard') Home
          li
            a(href='/logout') Logout
        ul.nav.navbar-nav.navbar-right
          li
            a#message-alert(href='#', type='submit', data-toggle='modal', data-target='#messageModal')
              span Collaborate&nbsp
              i.fa.fa-comments.fa-2x


  .container#project-container
    if(collaborators.length === 0)
      //- form.privacy-form(action='/projects/#{project._id}/updatePrivacy', method='post')
      button#collaboration-lock
        i.privacy.fa.fa-lock.fa-3x
    else
      //- form.privacy-form(action='/projects/#{project._id}/updatePrivacy', method='post')
      button#collaboration-unlock
        i.privacy.fa.fa-unlock-alt.fa-3x


    .page-header.text-center
      if(inviteConfirm)
        .alert(style='color: red')
          p= registerMessage

      h1#project-title(data-projId=project._id.toString())= project.title
      input.project-title-edit.hidden(autofocus=true, value=project.title)
      a#click-to-edit-title.link(href='#')
        i.fa.fa-pencil-square-o click to edit title
      a#save-project-title.link.hidden(href='#')
        i.fa.fa-pencil-square-o save title

    .col-sm-5.project-board-container
      .project-board-header
        .board-header-inner-left
          h4 Boards
        .board-header-inner-right
          form.create-board-form(action='/boards/#{project._id}/create', method='POST')
            button#create-board-button
              i.fa.fa-plus
      .well
        if(boards)
          each board in boards
            .board-list-container
              .well
                a.board-list-title-link(href='/boards/#{board._id.toString()}', data-boardId=board._id.toString())
                  h3.board-list-title= board.title
                input.board-list-title-edit.hidden(autofocus=true, value=board.title)
                span.board-list-date= board.dateCreated
                a.edit-board-list-title(href='#')
                  i.fa.fa-pencil-square-o edit title
                a.save-board-list-title.hidden(href='#')
                  i.fa.fa-pencil-square-o save title
                a.delete-board-link(href='#')
                  i.fa.fa-exclamation-triangle delete board
        else
          .board-list-container
            h4 Create a board
    .col-sm-5.project-draft-container
      .well
        //- h2 Drafts
        .text-draft-container
          .well
            h3 Working Text Draft
            a.draft-list-link(href='/projects/#{project._id.toString()}/draft')
              i.fa.fa-pencil-square-o edit
            span.project-last-update Last updated by #{lastRecord.name}
            a#view-all-text-drafts(href='#') View Draft Record
            a#hide-all-text-drafts(href='#') Hide Draft Record
            #draft-history-list
              each record in draftRecord
                .well.draft-record
                  a.draft-record-link(href='#', type='submit', data-toggle='modal', data-target='##{record.id}')
                    h5= record.date
                  p edited by #{record.name}
                  // modal preview for each draft record
                .modal.fade.draft-record-modal(id='#{record.id}', tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                  .modal-dialog
                    .modal-content
                      .modal-header
                        h4.modal-title#myModalLable Draft Record Preview
                      .modal-body
                        .draft-record-text
                          textarea= record.text
                          a(href='/projects/#{project._id}/#{record.id}')
                            button.action-button Restore Draft
                          button.cancel-button(type='button', data-dismiss='modal', aria-hidden='true') Cancel
                          span Note: this record will become your current working draft
        if(project.type === "Song")
          .audio-draft-container
            .well
              h3 Working Audio Draft
              if(project.draftAudio)
                audio(src=project.draftAudio.filePath, type='audio/mp3', controls=true)
              form(action='/projects/#{project._id}/draftAudio', method='POST', enctype='multipart/form-data')
                input#audio-file-input(type='file', name='audio')
                button.action-button Submit
              h5#add-audio-draft Note: existing audio draft will be overwritten

    .col-sm-2.project-collaborators
      .well
        h5(style='font-weight: 600;') Created By
        if(creator.image)
          img#navbar-image(src=creator.image.filePath)
        else
          img#navbar-image(src='/img/profile_placeholder.png')
        span(style='font-size: 14px;', data-creatorid=creator._id)= creator.local.email
        if(collaborators.length > 0)
          h5(style='font-weight: 600;') Collaborators
          each collaborator in collaborators
            if(collaborator.image)
              img#navbar-image(src=collaborator.image.filePath)
            else
              img#navbar-image(src='/img/profile_placeholder.png')
            span(style='font-size: 14px;')= collaborator.local.email
            if(creator._id.toString() === user._id.toString())
              a.remove-collaborator.link(href='#', data-collaboratorId=collaborator._id.toString())
                i.fa.fa-minus-square




  .modal.fade#messageModal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4.modal-title#myModalLable Send Collaboration Invite
        .modal-body
          #collaboration-invitation
            form(action='/projects/#{project._id}/inviteCollaborator', method='POST')
              input.form-control.invite-invitee(type='text', name='inviteeName', placeholder='Your Name', required='required')
              br
              input.form-control.invite-email(type='email', name='email', placeholder='Collaborator Email', required='required')
              br
              textarea.form-control.invite-message(type='text', name='personalMessage', placeholder='Enter Personal Message (optional)')
              .modal-footer
                button.invite-submit.action-button Submit



block scripts
  script(src='/js/es6/compiled/project-show.js')
