extends ../shared/template

block content

  nav.navbar.navbar-default#project-navbar(role='navigation')
    .container-fluid#project-navbar-container
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') Muse[collective]
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='/dashboard') Dashboard
          li
            a(href='/logout') Logout
        ul.nav.navbar-nav.navbar-right
          li
            a#message-alert(href='#')(type='submit', data-toggle='modal', data-target='#messageModal')
              span Collaborate&nbsp
              i.fa.fa-comments.fa-2x


  .container#project-container
    if(project.privacy === 'private')
      form.privacy-form(action='/projects/#{project._id}/updatePrivacy', method='post')
        button#privacy-lock
          i.privacy.fa.fa-lock.fa-3x
    else
      form.privacy-form(action='/projects/#{project._id}/updatePrivacy', method='post')
        button#privacy-unlock
          i.privacy.fa.fa-unlock-alt.fa-3x


    .page-header.text-center
      h1#project-title(data-projId=project._id.toString())= project.title
      input.project-title-edit.hidden(autofocus=true, value=project.title)
      i.fa.fa-pencil-square-o click title to edit

    .col-sm-5.project-board-container
      .well
        h2 Boards
        form.create-board-form(action='/boards/#{project._id}/create', method='POST')
          button.action-button Create Board
        if(boards)
          each board in boards
            .board-list-container
              .well
                h3.board-list-title(data-boardId=board._id.toString())= board.title
                input.board-list-title-edit.hidden(autofocus=true, value=board.title)
                p.board-list-date= board.dateCreated
                a.board-list-link(href='/boards/#{board._id.toString()}')
                  i.fa.fa-pencil-square-o edit
    .col-sm-5.project-draft-container
      .well
        h2 Draft
        a.draft-list-link(href='/projects/#{project._id.toString()}/draft')
          i.fa.fa-pencil-square-o edit
        .audio-draft-container
          .well
            if(project.draftAudio)
              h3 Audio
              audio(src=project.draftAudio.filePath, type='audio/mp3', controls=true)
            h4#add-audio-draft Add/Overwrite Audio Draft
            form(action='/projects/#{project._id}/draftAudio', method='POST', enctype='multipart/form-data')
              input(type='file', name='audio')
              button.action-button Submit
    .col-sm-2.project-collaborators
      .well
        h5(style='font-weight: 600;') Created By
        p(style='font-size: 14px;')= user.local.email
        if(collaborators)
          h5(style='font-weight: 600;') Collaborators
          each collaborator in collaborators
            ul
              li= collaborator.email


  .modal.fade#messageModal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4.modal-title#myModalLable Send Collaboration Invite
        .modal-body
          #collaboration-invitation
            form(action='/projects/#{project._id}/inviteCollaborator', method='POST')
              input.form-control.invite-invitee(type='text', name='inviteeName', placeholder='Your Name', required='required')
              br
              input.form-control.invite-email(type='email', name='email', placeholder='Collaborator Email', required='required')
              br
              textarea.form-control.invite-message(type='text', name='personalMessage', placeholder='Enter Personal Message (optional)')
              .modal-footer
                button.invite-submit.action-button Submit



block scripts
  script(src='/js/es6/compiled/project-show.js')
