extends ../shared/template

block content
  #board-title.hidden= board.title
  #board(data-id=boardId)
    button.save-button#save-board Save/Exit
    if(board.notes)
      each note in board.notes
        .sticky-note.draggable(class=note.classes[0], style='top: #{note.y}; left: #{note.x}; z-index: #{note.zIndex};')
          .sticky-note-inner
            .sticky-note-delete
            textarea.sticky-note-title-edit(resize=none, maxlength='50')= note.content
    if(board.photos)
      each photo in board.photos
        .photo-container.draggable.resizable(style='top: #{photo.y}; left: #{photo.x}; width: #{photo.width}; height: #{photo.height}; z-index: #{photo.zIndex}')
          .photo-delete
          img.board-photo.ui-widget-content(src=photo.filePath)
    if(board.audio)
      each audio in board.audio
        .audio-container.draggable(style='top: #{audio.y}; left: #{audio.x}; z-index: #{audio.zIndex}')
          .audio-delete
          audio(src=audio.filePath, type='audio/mp3', controls=true)
    if(board.notepads)
      each notepad in board.notepads
        .notepad-container.draggable.resizable(style='top: #{notepad.y}; left: #{notepad.x}; z-index: #{notepad.zIndex}')
          .notepad-delete
          textarea.draggable= notepad.content
    if(board.words)
      each word in board.words
        .word.draggable(class=word.classes[0], style='top: #{word.y}; left: #{word.x}; z-index: #{word.zIndex}')= word.content
          .word-delete

    #random-words
      #nouns-container
      #verbs-container
      #adjectives-container
      #adverbs-container
      #auxiliaries-container
      #prepositions-container
      #pronouns-container
  nav#bt-menu.bt-menu
    a.bt-menu-trigger(href='#')
      span Menu
    ul
      li
        a.fa.fa-pencil-square-o#notes(href='#') Notes
      li
        a.fa.fa-camera#photos(href='#') Photos
      li
        a.fa.fa-music#audio(href='#') Audio
      li
        a.fa.fa-book#notepad(href='#') Notepad
      li
        a.fa.fa-random#random-poetry(href='#') Random Poetry

block scripts
  script(src='/js/es6/compiled/board-show.js')
  script(src='/js/es6/compiled/upload.js')
  script(src='/animated-menu/js/borderMenu.js')
  script(src='/animated-menu/js/classie.js')
  script(src='http://malsup.github.com/jquery.form.js')


form(method='post', action='/users/photos', enctype='multipart/form-data')
        input.form-control(type='file', multiple='true', name='photos')
        button.update-photos Add Photos
